/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19 mai 2019, 15:37:31
    Author     : VIANIE
*/
.background {
    -fx-background-color: #c3c4c4;
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}
 
.button:hover {
    -fx-background-color: #ffffff;
    /*-fx-background-color: linear-gradient(#2A5058, #61a2b1);*/
}

.button{-fx-font-size: 2.5em; -fx-font-weight: bold; -fx-padding: 50 20 50 20;};

.root { 
    -fx-background-color: lightskyblue; 
} 
.VBox { 
    -fx-spacing: 10; 
    -fx-alignment: center; 
} 
.button { 
    -fx-base: green; 
    -fx-focus-color: limegreen; 
    -fx-font-size: 2.5em; 
} 
.button:focused { 
    -fx-background-insets: -5, 1, 2, -1.4, 2.6; 
}
